.title-comp {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.goal-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 365px;
  max-height: 360px;
  align-items: center;
  margin: auto;
}
