.behav-icon {
  display: flex;
  width: 172px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-width: 1px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.behav-icon:hover,
.behav-icon:focus {
  background: #5ec43a;
}

.behav-text {
  text-align: left;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
}

.behav-img {
  padding-left: 15px;
}
