.behav-icon {
  display: flex;
  width: 172px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-width: 1px;
  border-radius: 15px;

  cursor: pointer;
}

.behav-icon:hover,
.behav-icon:focus {
  background: linear-gradient(213.67deg, #d1d1d1 12.33%, #ffffff 69.93%),
    linear-gradient(0deg, #c1c1c1, #c1c1c1);
}

.behav-text {
  text-align: left;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
}

.behav-img {
  padding-left: 15px;
}
